* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #545454;
    background-image: radial-gradient(whitesmoke, #545454);
    display: flex;
    flex-direction: column;
}

